body{
    margin:0;
    font-family:Arial;
    background:#0b0f14;
    color:white;
    padding:20px;
}

.box{
    width:300px;
    margin:120px auto;
    padding:20px;
    background:#111827;
    border:1px solid gold;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:5px;
    background:#1f2937;
    color:white;
    border:none;
}

button{
    padding:10px;
    background:gold;
    border:none;
    cursor:pointer;
}

.card{
    background:#111827;
    padding:10px;
    margin:10px 0;
    border-left:3px solid gold;
}
